@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --header-color: hsl(202, 50%, 17%);
  --navigation-link: white;
  --navigation-link-hover: hsl(209, 56%, 53%);
  --logo-a-color: hsl(195, 12%, 94%);
  --active-link: hsl(352, 68%, 77%);
  --navigation-button: hsl(209, 56%, 53%);
  --navigaton-button-hover: hsl(209, 90%, 70%);
  --current-page: hsl(200, 90%, 50%);
}

html, body, iframe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Styles for the Navigation Bar */
header {
  display: flex;
/*  justify-content: center;*/
  align-items: center;
  padding: 30px 10%;
  height: 100px;
  background-color: var(--header-color);
}

header .logo-link {
  color: var(--logo-a-color);
  text-decoration: none;
}

header .logo {
  width: 80px;
  height: auto;
}


header nav {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  padding: 0;
}

header nav ul a {
  margin: 2.5px 0 2.5px 0;
  font-weight: 500;
  color: var(--navigation-link);
  text-decoration: none;
  transition: color 0.3s ease;  
  border-radius: 25px;
  border: none;
  outline: none;
  width: 115px;
  height: 50px;
  transition: all 250ms;
  transition-timing-function: ease-in-out;
}

header nav ul a:focus {
  margin: 0;
  border-radius: 100px;
  border: solid 2px gray;
  outline: none;
}

header nav ul a:hover {
  width: 120px;
  height: 55px;
}

header nav ul a li {
  color: var(--navigation-link);
  background-color: var(--navigation-button);
  width: 75px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 25px;
  padding: 0px 20px;
  transition: all 250ms;
  transition-timing-function: ease-in-out;
}

header nav ul a li:hover {
  background-color: var(--navigaton-button-hover);
  width: 80px;
  height: 55px;
  font-size: 1.6rem;
  color: var(--navigation-link-hover);
  transition: all 250ms;
  transition-timing-function: ease-in-out;
}

header nav ul #active-link {
  color:var(--active-link);
}

.seperator {
  padding-bottom: 10px;
  padding-top: 10px;
}

header nav ul .current-page {
  background-color: var(--current-page);
}

/* Styles for below the nav bar */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 160px);
  overflow-x: hidden;
}

main #page-title {
  margin: 0;
  padding-top: 40.44px;
  padding-bottom: 40.44px;
  border-bottom: solid 2px gray;
}

main #main-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 16px);
}

main #main-content sidebar {
  width: 300px;
  height: 100%;
}

main #main-content content {
  border-left: solid 2px gray;
  border-right: solid 2px gray;
  padding: 8px;
  width: 100%;
  height: 100%;
  flex: 1;
}

table {
  display: flex;
  flex-direction: column;
}

table tr {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 0.5%;
}

table tr .seperator {
  flex: 0.25;
}

table tr .item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #0078D7;
  border-radius: 25px;
}

table tr th img {
  flex: 5;
}

table tr th h1 {
  flex: 1;
  margin-block-end: 0;
}

.about-block {
  padding: 1rem;
  font-size: 20px;
  font-weight: 7500;
  text-decoration: none
}

[noPadding] {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

[noPadding] li {
  padding: 10px 0 10px 0;
}

.project-description {
  padding: 5px;
  border: solid 1px gray;
}

li .project-description {
  padding: 5px;
  border: solid 1px gray;
}

h1, .heading-link {
  font-size: 30px;
  font-weight: 7500;
  text-decoration: none
}

.class {
  content: '😈'
}

#id {
  content: '😈'
}